.abrir-modal{
  /*Transparecia de color negra*/
  background-color: rgba(0, 0, 0, 0.7);
  /* Se posociona el backgroun de forma fija */
  position: fixed;
  /* Comienza en la esq superior izq */
  top: 0px;
  left: 0px;
  /* Con ancho y alto, toda la pantalla*/
  width: 100%;
  height: 100%;
  /* Se posiciona al frente de los demas elementos */
  z-index: 1000;
}

.animacion{
  /* duracion */
  animation-duration: 3s;
  /* modo de la animacion */
  animation-fill-mode: both;
  /* Compatibilidad con firefox */
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
}

.fadeIn{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

/* Fotograma clave para la animacion */
@keyframes fadeIn{
  0% {opacity: 0;}to{opacity: 2;}
}
@-webkit-keyframes fadeIn{
  0% {opacity: 0;}to{opacity: 2;}
}


