<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--Se llama a variable creada en la clase por interpolacion-->
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- Se agrega link a directivas -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="./directivas">Directivas</a>
      </li>
      <!-- Se agrega link a clientes -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/login']" class="btn btn-outline-primary" >Sing-In</a></li>
      <li *ngIf="authService.isAuthenticated()" class="dropdown">
        <a href="#" class="btn btn-outline-primary dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.usuario.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button (click)="logout()" class="dropdown-item" type="submit">Sing Out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>

