<div class="card bg-light">
  <div class="card-header">Nueva Factura</div>
  <div class="card-body">
    <div class="card-title">
      <form #facturaForm="ngForm">
        <div class="form-group row" *ngIf="factura.cliente">
          <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="cliente" value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}" disabled>
          </div>
        </div>

        <div class="form-group row">
          <label for="descripcion" class="col-sm-2 col-form-label">Descripcion</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="descripcion" [(ngModel)]="factura.descripcion" required #descripcion="ngModel">
            <!-- el atributo touched valida si se hace click fuera del elemento -->
            <div class="alert alert-danger" *ngIf="descripcion.invalid && descripcion.touched || descripcion.invalid && facturaForm.submitted">
              La descripcion es requerida
            </div>
          </div>
        </div>



        <div class="form-group row">
          <label for="observacion" class="col-sm-2 col-form-label">Observacion</label>
          <div class="col-sm-6">
            <textarea type="text" class="form-control" name="observacion" [(ngModel)]="factura.observacion"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="col sm-6">
            <mat-form-field >
              <input type="text" placeholder="Agregue Producto" aria-label="Producto" matInput [formControl]="autoCompleteControl" [matAutocomplete]="auto" >
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="seleccionarProducto($event)">
                <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                  {{producto.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="autoCompleteControl.invalid && facturaForm.submitted">
              La factura debe tener lineas.
            </div>
          </div>
        </div>

        <!-- Se valida si hay items en la factura -->
        <div class="alert alert-info my-4" *ngIf="factura.items.length == 0">
            La factura no posee items. Debe agregar al menos uno.
        </div>
        <!-- Items de la factura -->
        <table class="table table-striped table-hover table-sm" *ngIf="factura.items.length > 0">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of factura.items">
              <td>{{item.producto.nombre}}</td>
              <td>{{item.producto.precio}}</td>
              <!-- el metodo actCantidad se le pasa como parametro el evento que contiene la cantidad -->
              <td><input type="number" value="{{item.cantidad}}" class="form-control col-sm-4" (change)="actCantidad(item.producto.id,$event)"></td>
              <td>{{item.getTotal()}}</td>
              <td><button class="btn btn-danger btn-sm" type="button" (click)="deleteItem(item.producto.id)">eliminar</button></td>
            </tr>
          </tbody>
        </table>
        <h2 class="float-right" *ngIf="factura.items.length > 0">Total Factura:<span class="badge badge-secondary">{{factura.getTotalFactura()}}</span></h2>
        <div class="form-group row">
          <div class="col-sm-6">
            <input type="submit" value="Crear factura"  (click)="crearFactura(facturaForm)" class="btn btn-secondary">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

